@keyframes inventory-pulse-icon25 {
	0% {
		opacity: 0.5;
	}
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

.icon_inventory__custom,
.icon_inventory__custom_low,
.icon_inventory__custom_stock,
.icon_inventory__custom_preorder,
.icon_inventory__custom_soldout {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
}

.icon_inventory__custom:after,
.icon_inventory__custom:before,
.icon_inventory__custom_low:after,
.icon_inventory__custom_low:before,
.icon_inventory__custom_stock:after,
.icon_inventory__custom_stock:before,
.icon_inventory__custom_preorder:after,
.icon_inventory__custom_preorder:before,
.icon_inventory__custom_soldout:after,
.icon_inventory__custom_soldout:before {
	width: 9px;
	height: 9px;
	border-radius: 9px;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	margin: 8px;
}

.icon_inventory__custom:before,
.icon_inventory__custom_low:before,
.icon_inventory__custom_stock:before,
.icon_inventory__custom_preorder:before,
.icon_inventory__custom_soldout:before {
	animation: inventory-pulse-icon25 2s linear infinite;
}

.inventory_list__custom {
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.inventory_list_block__custom, .inventory_list__custom {
	list-style: none!important;
}

.inventory_list_block__custom {
	padding-left: 0;
	margin-left: 0;

	/* alt japansk theme custom */
	margin-bottom: 30px!important;
	margin-top: -20px!important;
}

/* in style tag in liquid */
/* .icon_inventory__custom:after,
.icon_inventory__custom:before {
	background: #54c63a;
}
.inventory_low .icon_inventory__custom:after,
.inventory_low .icon_inventory__custom:before {
	background: #f4af29;
}
.inventory_low {
	color: #f4af29;
} */