@keyframes inventory-pulse {
	0% {
		opacity: 0.5;
	}
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

.icon_inventory:after,
.icon_inventory:before {
	width: 9px;
	height: 9px;
	border-radius: 9px;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	margin: 8px;
}

.icon_inventory:before {
	animation: inventory-pulse 2s linear infinite;
}
/* in style tag in liquid */
/* .icon_inventory:after,
.icon_inventory:before {
	background: #54c63a;
}
.inventory_low .icon_inventory:after,
.inventory_low .icon_inventory:before {
	background: #f4af29;
}
.inventory_low {
	color: #f4af29;
} */